@charset "UTF-8";
.enroll {
  display: inline-block;
  width: 150px;
  height: 30px;
  text-align: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

#register {
  width: 50%;
  border: 10px dotted pink;
  padding: 20px;
  margin: auto;
  text-align: center;
  margin-top : 100px;
}

fieldset {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  border: 2px dotted #FF5675;
}

.join2 {
  display: inline-block;
  width: calc(50% - 160px);
  margin-bottom: 10px;
  text-align : left;
}

input[type=text], input[type=password], input[type=tel], input[type=email], input[type=url] {
  width: 50%;
  height: 10px;
  padding: 5px;
  margin-bottom: 10px;
}

input[type="date"] {
  width: 200px;
}

input[type="submit"], input[type="reset"]{
  width : 150px;
  height : 30px;
  text-align : center;
  margin : 55px;
  border : 2px dotted #FF1493;
  background : #FFE3EE;
  margin-bottom : 25px;
  margin-top : 10px;
}

#id {
  display: inline-block;
  width: calc(50% - 90px);
  margin-right: 10px;
  vertical-align: middle;
}

#check-button {
  display: inline-block;
  width: 70px;
  vertical-align: middle;
}

#back a{
  text-decoration : none;
}

#back a:hover{
  text-decoration : underline;
  background : #FFD9E4;
}
	